<head>
</head>
<body>
<div class="searchform">
    <form action="/search" method="post">
    Card Name: <input type="text" 
    style="font-size:15px" size="40" name="cardname"><br>
    Database Name: <select name="dbname">
  <option value="percy">Percy</option>
  <option value="devpro">DevPro</option>
  <option value="salvation">Salvation</option>
</select><input type="submit" value="Search" class="submitButton">
</form>
</div>
    
<p>Not found!</p>
</body>


