<td valign="top" style="padding-right:8px;">
					<div id="card_frame">
	
		
						<img id="card_image_1" alt="Odd-Eyes Pendulum Dragon" title="Odd-Eyes Pendulum Dragon" class="none ui-draggable" src="get_image.action?type=2&amp;cid=11213&amp;ciid=1" style="position: relative; display: inline;">
		
	
	
					</div>
	
					<div id="thumbnail">
		
						<img id="thumbnail_card_image_1" alt="1" class="none ui-draggable current" src="get_image.action?type=1&amp;cid=11213&amp;ciid=1" style="position: relative; display: inline;">
		
					</div>
	
				</td>


<td valign="top">    
    
					<table id="details">
						<colgroup><col width="50%">
						<col width="50%">
						</colgroup><tbody><tr>
                        <td>
								<div class="item_box" style="margin-right:5px;">
									<span class="item_box_title">
										<b>Card ID</b>
									</span>
									<span class="item_box_value">
		
										{{id}}
		
									</span>
								</div>
							</td>
                        <td>
								<div class="item_box" style="margin-right:5px;">
									<span class="item_box_title">
										<b>Format</b>
									</span>
									<span class="item_box_value">
		
										{{format}}
		
									</span>
								</div>
							</td>	
                        
                        <td>
								<div class="item_box" style="margin-right:5px;">
									<span class="item_box_title">
										<b>Attribute</b>
									</span>
									<span class="item_box_value">
		
										{{attribute}}
		
									</span>
								</div>
							</td>
							<td>
								<div class="item_box" style="margin-left:5px;">
									<span class="item_box_title">
		
		
										<b>Level</b>
		
									</span>
									<span class="item_box_value">
										{{level}}
									</span>
								</div>
							</td>
						</tr>
		
		
						<tr>
							<td colspan="2">
								<div class="item_box t_center" style="margin-top:10px;">
									<span class="item_box_title">
										<b>Pendulum Scale</b>
									</span>
									{{lscale}} / {{rscale}}
								</div>
							</td>
						</tr>
		
						<tr>
							<td colspan="2">
								<div class="item_box t_center" style="margin-top:10px;">
									<span class="item_box_title">
										<b>Monster Type</b>
									</span>
		
									Dragon
		
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="item_box t_center" style="margin-top:10px;">
									<span class="item_box_title">
										<b>{{type}}</b>
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="item_box" style="margin-top:10px;margin-right:5px;">
									<span class="item_box_title">
										<b>ATK</b>
									</span>
									<span class="item_box_value">
										{{{atk}}}
									</span>
								</div>
							</td>
							<td>
								<div class="item_box" style="margin-top:10px;margin-left:5px;">
									<span class="item_box_title">
										<b>DEF</b>
									</span>
									<span class="item_box_value">
										{{def}}
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="item_box_text" style="margin-top:10px;">
									<div class="item_box_title">
										<b>Card Text</b>
									</div>
                                    {{desc}}
								</div>
							</td>
						</tr>
					</tbody></table><!--#details-->
				</td>